<div class="tui-container tui-container_adaptive">
    <div class="tui-row tui-row_adaptive">
        <div class="tui-col tui-col_md-12">
            <tui-input-files
                [formControl]="control"
                [multiple]="true"
            ></tui-input-files>
        </div>
    </div>

    <tui-files class="tui-space_top-1">
        <tui-file
            *ngFor="let file of uploadedFiles$ | async"
            state="normal"
            [file]="file"
        ></tui-file>

        <tui-file
            *ngFor="let file of uploadingFiles$ | async"
            state="loading"
            [file]="file"
            [showDelete]="false"
        ></tui-file>
    </tui-files>
</div>
+
